<form action="#" method="post">
    <fieldset>
        <legend>{{legenda}}</legend>
        <label for="nome">Nome Utente</label>
        <input id="nome" name="nome" type="text" required placeholder="Digita qui il tuo nome utente"
               value="{{nome-value}}" autocomplete="{{nome-autocomplete}}">
        {{nome-message}}

        <label for="password" lang="en">Password</label>
        <input id="password" name="password" value="{{password-value}}" required type="password"
               placeholder="Digita la tua password"
               autocomplete="{{password-autocomplete}}">
        {{password-message}}
        <input type="submit" name="{{crud-name}}" value="{{crud-innerhtml}}">
    </fieldset>
</form>
<a href="{{sign-in-up-url}}">{{sign-in-up-url-innerhtml}}</a>
