<form class="simple_form" action="{{form_action}}" method="post" onsubmit="return validateAccountInfo()">
    <fieldset class="simple_form">
        <legend class="simple_form">{{legenda}}</legend>
        <label for="username">Nome Utente</label>
        <input id="username" name="nome" type="text" required placeholder="Digita qui il tuo nome utente"
               value="{{nome-value}}" autocomplete="{{nome-autocomplete}}">
        {{nome-message}}

        <label for="password" lang="en">Password</label>
        <input id="password" name="password" value="{{password-value}}" required type="password"
               placeholder="Digita la tua password"
               autocomplete="{{password-autocomplete}}">
        {{password-message}}
        <input type="submit" name="{{crud-name}}" value="{{crud-innerhtml}}">
    </fieldset>
</form>
<a href="{{sign-in-up-url}}">{{sign-in-up-url-innerhtml}}</a>
