<ul id="operations">
    <li><a href="{{pages-account}}">Informazioni</a></li>
    <li><a href="{{pages-account-update}}">Modifica</a></li>
    <li><a href="{{pages-exit}}">Esci</a></li>
</ul>
<form class="simple_form" id="main_zone" action="{{pages-form}}" method="POST">
    <fieldset class="simple_form">
        <legend class="simple_form">Informazioni account</legend>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{username-value}}" disabled>
        {{username-message}}
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="{{password-value}}" disabled>
        {{password-message}}
        <input type="submit" name="update" value="Modifica">
    </fieldset>
</form>