<h1>Catalogo ReadMe</h1>
<form class="simple_form" role="search" method="get" action="Pages/catalogo.php">
    <input type="hidden" name="page" value="1">
    <fieldset class="simple_form">
        <legend class="simple_form">Cerca</legend>
        <input aria-label="Cerca" type="text" id="search-bar" name="query" placeholder="Nome scrittore o titolo libro" minlength="1"
               maxlength="200" value="{{searched}}">
        <input type="submit" value="Cerca">
    </fieldset>
</form>
<p id="results-number">{{results-number}}</p>
{{books}}
{{page-selector}}