<h1>Prenota i libri della nostra biblioteca direttamente da casa!</h1>
<div>
    <h2>I nostri numeri</h2>
    <p>
        Autori totali: +{{authors-counter}}
    </p>
    <p>
        Libri totali: +{{books-counter}}
    </p>
    <p>
        Prestiti totali: +{{loans-counter}}
    </p>
</div>
<div>
    <h2>Vieni a trovarci!</h2>
    <p>Una volta prenotato il tuo libro potrai venirlo a ritirare entro la data di scadenza del prestito, presso la nostra sede:</p>
    <address>
        Via Gran Lettori, 45<br />
        35353, Padova, Veneto
    </address>
</div>