<section class="section-image">
    <img id="current_cover" src="/marango/assets/book_covers/{{current_cover}}">
</section>
<section class="section-info">
    <form method="POST" action="/marango/Pages/crud_libro.php">
        <label for="input-title">Titolo del Libro</label>
        <input id="input-title" type="text", name="title", value="{{book_title}}" required/>

        <label for="input-author">Autore</label>
        <select id="input-author" name="author">
            {{current_author_option}}
            {{authors_options}}
        </select>

        <label for="input-description">Descrizione</label>
        <textarea id="input-description", name="description">
            {{description}}
        </textarea>

        <label for="input-cover">Copertina</label>
        <input id="input-cover" type="file" name="cover" accept=".jpg,.jpeg,.png"/>

        <input type="submit" value="Aggiorna" name="update" />
    </form>
</section>
