<form method="post" action="Pages/crud_libro.php" enctype="multipart/form-data" onsubmit="return validateBookInfo(false)" id="new-book-form">
    {{book_id_field}}

    <label for="input-title">Titolo del Libro</label>
    <input id="input-title" type="text" name="book_title" value="{{book_title-value}}" required='required' onblur="validateTitle()"/>
    {{book_title-message}}

    <p>Selezionare un autore oppure inserire un nuovo nome da aggiungere. Se si aggiunge un autore, la selezione non avrà alcun effetto.</p>
    <div id="author-input">
        <section id="old-author">
            <label for="input-author">Autore</label>
            <select id="input-author" name="author" onblur="validateAuthor()">
                {{author-value}}
                {{authors_options}}
            </select>
        </section>
        <section id="new-author">
            <label for="input-author-new">Nuovo Autore</label>
            <input id="input-author-new" type="text" name="author-new" value="{{author-new-value}}" onblur="validateAuthor()"/>
        </section>
        {{author-new-message}}
        {{author-message}}
    </div>

    <label for="input-description">Descrizione</label>
    <textarea id="input-description" name="description" onblur="validateDesc()">{{description-value}}</textarea>
    {{description-message}}

    <label for="input-cover">Copertina</label>
    <input id="input-cover" type="file" name="cover" accept=".jpg,.jpeg,.png" onblur="validateCover(false)"/>
    {{cover-message}}

    <label for="input-no-copies">Numero di Copie</label>
    <input id="input-no-copies" type="number" name="no_copies" min="1" value="{{no_copies-value}}" onblur="validateCopiesNumber()"/>
    {{no_copies-message}}

    <input type="submit" value="{{submit-value}}" name="{{submit-name}}"/>
    {{back_button}}
</form>
