
<form class="simple_form" action="#" method="post">
  <fieldset class="simple_form">
    <legend class="simple_form">Prestito libro: {{libro-titolo}}</legend>

    <!-- <img src="((libro-copertina))" > opzionale -->
    
    <input type="text" hidden name="id" value="{{libro-value}}">

    <input type="text" hidden name="user" value="{{user-value}}">

    <label for="i">Data di inizio del prestito</label>
    <input id="i" type="date" name="inizio" value="{{inizio-value}}">
    {{inizio-message}}

    <label for="f">Data di fine del prestito</label>
    <input id="f" type="date" name="fine" value="{{fine-value}}">
    {{fine-message}}

    <input type="submit" value="Noleggia">
  </fieldset>
</form>
