<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>

		<base href="{{pangine_path}}">

  <meta name="author" content="ReadMe">

  <link rel="stylesheet" href="styles/style.css" media="screen">

  <link rel="shortcut icon" type="image/png" href="assets/favicon/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="javascript/script.js"></script>
</head>
<body>
<header>
  <a href="{{page_path}}#content" class="helper">Vai al contenuto</a>

  <nav id="logoLink" aria-label="Torna alla Home">
    <a href="Pages/index.php" aria-label="Read Me"><div><span lang="en">Read Me</span></div></a>
  </nav>
  <nav id="menu" aria-label="Barra di navigazione">
    <ul>
      {{menu}}
    </ul>
  </nav>

  <nav id="breadcrumbs" aria-label="Percorso">{{breadcrumbs}}</nav>
</header>
<main id="content">{{general-message}}{{content}}</main>

<footer lang="en" id="pageFooter">ReadMe Software - All rights reserved.</footer>

</body>
</html>
