/*##############################
#           General            #
##############################*/
/* --------- COLORS --------- */
@media (prefers-color-scheme: light) {
    :root {
        --textColor: #151918;
        --backgroundColor: #e0e0e0;
        --secondaryBackgroundColor: #c8c8c8;
        --primaryColor: #276254;
        --secondaryColor: #73dec1;
        --accentColor: #18dca8;
        --mobileNavLinkBorder: #419f86;
        --linkColor: #348c8c;
        --visitedLinkColor: #4b5d58;
        --logoUrl: url("../assets/readme-logo-black-cropped.png");
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --textColor: #e6eae9;
        --backgroundColor: #1f1f1f;
        --secondaryBackgroundColor: #171717;
        --primaryColor: #9dd8ca;
        --secondaryColor: #218c70;
        --accentColor: #23e7b2;
        --mobileNavLinkBorder: #6e968c;
        --linkColor: #5BE6E6;
        --visitedLinkColor: #c4edff;
        --logoUrl: url("../assets/readme-logo-white-cropped.png");
    }
}

/* --------- FONTS --------- */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-MediumItalic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

* {
    padding: 0;
    margin: 0;
    -o-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

/*##############################
#             Mobile           #
##############################*/
@media screen and (max-width: 768px) {
    /* -- font sizes -- */
    :root {
        --heading1Size: 2rem;
        --heading2Size: 1.8rem;
        --textSize: 1.1rem;
    }

    /* -------- nav menu -------*/
    #menu {
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 3.2rem;
    }

    nav h1 {
        background-size: 8rem 2rem;
        width: 8rem;
        height: 2rem;
    }

    #menu ul li .selectedNavLink {
        height: 3.2rem;
    }

    #menu {
        background-color: var(--backgroundColor);
        -moz-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        -o-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        -webkit-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        box-shadow: 0 0 0.64rem 0 var(--primaryColor);
    }

    #menu ul li.selectedNavLink {
        height: 3.2rem;
    }

    /* -------- footer -------*/
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
    }

    /* -------- BOOK -------*/
    .book-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .book-page .section-info {
        width: 100%;
        padding: 10px;
    }

    .book-page .section-image img {
        display: none;
    }

    /* -- INDEX PAGE -- */
    ul#index-numbers {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        width: 100%;
        margin-top: var(--textSize);
    }

    ul#index-numbers li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        width: 80%;
        background-color: var(--secondaryBackgroundColor);
        padding: var(--textSize);
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    ul#index-numbers li:last-child {
        margin-bottom: 0;
    }
}

/*##############################
#             Tablet           #
##############################*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* -- font sizes -- */
    :root {
        --heading1Size: 2.2rem;
        --heading2Size: 2rem;
        --textSize: 1.3rem;
    }

    /* -------- BOOk -------*/
    .book-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .book-page .section-image {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    .book-page .section-info {
        width: 100%;
        padding: 10px;
    }

    .book-page .section-image img {
        width: 20%;
        height: auto;
    }

    /* -- INDEX PAGE -- */
    ul#index-numbers {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row;
        width: 100%;
        margin-top: var(--textSize);
        gap: 1rem;
    }

    ul#index-numbers li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        flex-grow: 1;
        background-color: var(--secondaryBackgroundColor);
        padding: var(--textSize);
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

/*##############################
#             Monitor          #
##############################*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    /* -- font sizes -- */
    :root {
        --heading1Size: 2.3rem;
        --heading2Size: 2.1rem;
        --textSize: 1.4rem;
    }

    /* -------- BOOk -------*/
    .book-page {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 20px;
    }

    .book-page .section-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .book-page .section-image {
        display: flex;
        justify-content: center;
        width: 40%;
        padding: 10px;
    }

    .book-page .section-image img {
        max-width: 100%;
        height: auto;
    }

    .book-page .section-info {
        width: 60%;
        padding: 10px;
    }

    /* -- INDEX PAGE -- */
    ul#index-numbers {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row;
        width: 100%;
        margin-top: var(--textSize);
        gap: 1rem;
    }

    ul#index-numbers li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        flex-grow: 1;
        background-color: var(--secondaryBackgroundColor);
        padding: var(--textSize);
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

/*##############################
#             Bigger           #
##############################*/
@media screen and (min-width: 1200px) {
    /* -- font sizes -- */
    :root {
        --heading1Size: 2.3rem;
        --heading2Size: 2.1rem;
        --textSize: 1.4rem;
    }

    /* -------- BOOk -------*/
    .book-page {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 20px;
    }

    .book-page .section-image {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
    }

    .book-page .section-info {
        width: 50%;
        padding: 10px;
    }

    /* -- INDEX PAGE -- */
    ul#index-numbers {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row;
        width: 100%;
        margin-top: var(--textSize);
        gap: 1rem;
    }

    ul#index-numbers li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        flex-grow: 1;
        background-color: var(--secondaryBackgroundColor);
        padding: var(--textSize);
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

/*##############################
#     Across all non mobile    #
##############################*/
@media screen and (min-width: 768px) {
    /* -------- nav menu -------*/
    nav#menu ul {
        background-color: var(--backgroundColor);
        -moz-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        -o-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        -webkit-box-shadow: 0 0 0.64rem 0 var(--primaryColor);
        box-shadow: 0 0 0.64rem 0 var(--primaryColor);
    }

    nav#menu {
        overflow: hidden;
        padding-bottom: 0.64rem;
    }

    nav h1 {
        background-size: 10rem 2.5rem;
        width: 10rem;
        height: 2.5rem;
    }

    #menu ul li.selectedNavLink {
        height: 3.2rem;
    }

    nav#menu ul li:hover {
        -moz-box-shadow: 0 0 0.08rem 0 var(--primaryColor);
        -o-box-shadow: 0 0 0.08rem 0 var(--primaryColor);
        -webkit-box-shadow: 0 0 0.08rem 0 var(--primaryColor);
        box-shadow: 0 0 0.08rem 0 inset var(--primaryColor);
    }


    /* -- INDEX PAGE -- */
    ul#index-numbers {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row;
        width: 100%;
        margin-top: var(--textSize);
    }

    ul#index-numbers li {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column;
        width: 7rem;
        background-color: var(--secondaryBackgroundColor);
        padding: var(--textSize);
        border-radius: 1rem;
    }
}

/*###############################################
#           Not dimensions properties           #
###############################################*/
/* --------- HEADER - menu --------- */
#logoLink a,
#logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav {
    z-index: 100;
}

#menu ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav#menu ul li a {
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

nav#menu ul li.selectedNavLink {
    -moz-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -o-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -webkit-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    box-shadow: 0 0 0.16rem 0 inset var(--primaryColor);
}

nav li a {
    color: var(--textColor);
}

nav li a:visited {
    color: var(--textColor);
}

.book-card dt,
.book-card dd {
    display: inline;
}

.book-card dt {
    font-weight: bold;
}

#results-number {
    font-weight: bold;
}

/* --------- HEADER - breadcrumbs --------- */
nav#breadcrumbs {
    display: flex;
    justify-content: center;
}

nav#breadcrumbs p {
    padding: 0.32rem 0.64rem;
    border-radius: 5px;
    margin-top: 0.32rem;
    -moz-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -o-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -webkit-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    box-shadow: 0 0 0.16rem 0 var(--primaryColor);
}

/* --------- HEADER - logolink --------- */
nav div {
    background-image: var(--logoUrl);
    background-size: cover;
    width: 12rem;
    height: 3rem;
    margin: 0.7rem 0 0;
}

nav div span {
    display: block;
    height: 0;
    overflow: hidden;
}

/* --------- FOOTER --------- */
#pageFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- GENERAL ---------- */
a {
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content > h1 {
    text-align: center;
}

.book-emoji:before {
    content: '📚';
}

/* ---------- form related -----------*/

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

label {
    display: block;
}

#content input, #content textarea, #loans-form select {
    padding: 0.5rem;
    border-radius: 0.3rem;
}

form.simple_form fieldset {
    display: flex;
    flex-flow: column;
    width: 80%;
}

form.simple_form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset.simple_form {
    padding: 1rem 1rem 0 1rem;
    border: none;
    -moz-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -o-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -webkit-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    border-radius: 5px;
}

legend.simple_form {
    float: left;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

input[disabled] {
    color: var(--textColor);
    background-color: var(--secondaryBackgroundColor);
}

input, select {
    margin-bottom: 1rem;
    border: 1px solid black;
}

.errorMessage {
    margin-bottom: 1rem;
    color: var(--errorMessageColor);
    background-color: var(--errorMessageBackground);
    border-color: var(--errorMessageBorderColor);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.errorMessage::before {
    content: '❌: ';
}

/* --------- accessibility content helper --------- */
.helper {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* --------- ACCOUNT PAGE --------- */
ul#operations {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    -moz-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -o-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -webkit-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    border-radius: 0.3rem;
}

ul#operations li {
    padding-bottom: 0.5rem;
}

ul#operations li:last-child {
    padding-bottom: 0;
}

/* --------- BOOK --------- */

#book-page h1, #book-page h2, #book-page h3 {
    color: var(--textColor);
}

div#book-page {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/* --------- BOOK --------- */

.book-page h1 {
    font-size: 2.5em;
}

.book-page h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--secondaryColor);
}

.book-page p {
    font-size: 1.2em;
    color: var(--textColor);
}

.book-page section.image-hidden {
    display: none;
!important;
}

.book-page.image-hidden {
    justify-content: center; !important;
}

.book-page input[type="submit"] {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.book-page input[type="submit"]:hover {
    background-color: var(--secondaryColor);
    color: var(--textColor);
}

.book-page input[type="submit"]:disabled {
    background-color: var(--textColor);
    color: var(--backgroundColor);
    cursor: not-allowed;
}

.book-page .section-info div p:last-of-type {
    color: var(--accentColor);
}

.book-page label {
    font-size: 1.2em;
    color: var(--textColor);
}

.book-page .section-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book-page-delete {
    justify-content: center;
}

.book-page input, .book-page select, .book-page textarea {
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

.book-page textarea#input-description {
    resize: none;
    height: 400px;
}

.book-page input[type="submit"] {
    width: auto;
}

/* ------------ CATALOGO PAGE ------------ */

form[role="search"] legend {
    display: none;
}

form[role="search"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ------------ INDEX PAGE ------------ */

.index-card {
    -moz-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -o-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    -webkit-box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    box-shadow: 0 0 0.16rem 0 var(--primaryColor);
    border-radius: 0.3rem;
}

.index-card h2 {
    font-size: var(--heading2Size);
}

h1 {
    font-size: var(--heading1Size);
}

.index-card {
    font-size: var(--textSize);
    padding: var(--textSize) var(--textSize) var(--textSize) var(--textSize);
    margin: var(--textSize) var(--textSize) 0 var(--textSize);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - var(--textSize));
}

.index-card:last-child {
    margin: var(--textSize) var(--textSize) var(--textSize) var(--textSize);
}


ul#index-numbers li .number {
    font-size: var(--heading2Size);
    font-weight: bold;
}

#description-card p {
    margin-bottom: 1rem;
    width: 100%;
}

#description-card p:last-child {
    margin-bottom: 0;
}

.index-card address {
    text-align: right;
    width: 100%;
}

main div.index-card:last-child p {
    margin: 1rem 0 1rem 0;
}

/* ------------ PRESTITI PAGE ------------ */
#loans-form {
    flex-wrap: wrap;
    justify-content: space-around;
}

#loans-form fieldset {
    box-sizing: border-box;
    width: 80%;
    margin: 1% 10%
}


>>>>>>> main
