/*
################################
#           Reusable           #
################################*/

/* --------- COLORS --------- */
@media (prefers-color-scheme: light) {
    :root {
        --text: #151918;
        --background: #e0e0e0;
        --primary: #276254;
        --secondary: #73dec1;
        --accent: #18dca8;
        --logoUrl: url("./assets/images/OrchestraWideBlack.png");
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #e6eae9;
        --background: #1f1f1f;
        --primary: #9dd8ca;
        --secondary: #218c70;
        --accent: #23e7b2;
        --logoUrl: url("./assets/images/OrchestraWideWhite.png");
    }
}

/*TODO: Impostare già la struttura con i breakpoint delle media query*/
/* --------- NAVBAR --------- */
nav h1 {
    background-image: var(--logoUrl);
    background-size: 200px 50px;
    width: 200px;
    height: 50px;
}
nav h1 span {
    display: block;
    height: 0;
    overflow: hidden;
}

h1 {
    background-color: var(--secondary);
}

/* --------- helper --------- */
.helper {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}