<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8" />

    <title>Pagina non trovata: errore 404</title>

    <meta name="description" content="La pagina cercata nel sito non è stata trovata." />
    <meta name="keywords" content="Orchestra, musica, pagina non trovata, 404" />
    <meta name="author" content="Orchestra" />

    <link rel="stylesheet" href="../styles/style.css" media="screen" />
    <link rel="stylesheet" href="../styles/print.css" media="print" />

    <link rel="shortcut icon" type="images/png" href="../assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../javascript/script.js"></script>
</head>
<body>
<a href="#content" class="helper">Vai al contenuto</a>

<nav id="logoLink">
    <a href="/" aria-label="Ritorna alla pagina home"><h1><span>Orchestra</span></h1></a>
</nav>
<nav id="menu" aria-label="Navigazione principale">
    <ul>
        {{menu}}
    </ul>
</nav>

<main id="content">
    <h1>La nota che cerchi non fa parte della nostra sinfonia</h1>
    <p>La pagina da lei cercata non esiste.</p>
    <a href="/">Ritorna alla home</a>
</main>

<footer id="pageFooter"><p>Orchestra Software - <span lang="en">All rights reserved.</span></p></footer>

</body>
</html>
