<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8" />

  <title>Pagina non trovata: errore 500</title>

  <meta name="description" content="Errore interno del server." />
  <meta name="keywords" content="Orchestra, musica, errore del server, 500" />
  <meta name="author" content="Orchestra" />

  <link rel="stylesheet" href="../styles/style.css" media="screen" />
  <link rel="stylesheet" href="../styles/print.css" media="print" />

  <link rel="shortcut icon" type="images/png" href="../assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="../javascript/script.js"></script>
</head>
<body>
<a href="#content" class="helper">Vai al contenuto</a>

<nav id="logoLink">
  <a href="../index.php" aria-label="Ritorna alla pagina home"><h1><span>Orchestra</span></h1></a>
</nav>
<nav id="menu" aria-label="Navigazione principale">
  <ul>
    {{menu}}
  </ul>
</nav>

<main id="content">
  <h1>Ops, il piano non è stato accordato correttamente</h1>
  <p>I nostri server purtroppo sembra che abbiano qualche problemino.</p>
  {{link}}
</main>

<footer id="pageFooter"><p>Orchestra Software - <span lang="en">All rights reserved.</span></p></footer>

</body>
</html>
