<main>
  {{errori}}
  <form action="Pages/accedi.php?read=true" method="post">
    <fieldset>
      <legend>Accesso</legend>
      <label for="name" lang="en">Nome Utente</label>
      <input id="name" tabindex="1" name="name" required type="text" placeholder="Digita il nome utente"
        autocomplete="username" value="{{nome}}">

      <label for="password" lang="en">Password</label>
      <input id="password" tabindex="2" name="password" required type="password" placeholder="Digita la tua password"
        autocomplete="current-password">
      <input type="submit" tabindex="3" value="Accedi">
    </fieldset>
  </form>
  <a tabindex="4" href="/registrati.php">Sei nuovo ? Clicca per registrarti</a>
</main>
