<main>
  {{errori}}
  <form action="/handlers/aggiungiAlbum.php" method="post">
    <fieldset>
      <legend>Creazione album</legend>
      <label for="artista">Artista</label>
      <select id="artista" name="artista" required type="email">
        {{artisti}}
      </select>

      <label for="nomealbum">Nome album</label>
      <input id="nomealbum" name="nome" required type="text" placeholder="Digita il nome dell'album">

      <label for="copertina">Copertina</label>
      <input id="copertina" name="copertina" type="file">

      <input type="submit" value="Crea">
    </fieldset>
  </form>
</main>
