
<h1>Aggiungi un nuovo artista</h1>
<p role="alert">Se l'operazione di aggiunta avrà successo verrai reindirizzato alla pagina di catalogo.</p>
<form action="{{page-form}}" method="post" enctype="multipart/form-data" id="aggiungi-artista">

    <fieldset>
        <legend>Dati artista</legend>

        <label for="nome">Nome Artista</label>
        <input id="nome" name="nome" type="text" maxlength="150" minlength="5" placeholder="Nome artista" value="{{nome-value}}" required>
        {{nome-message}}

        <label for="biografia">Biografia Artista</label>
        <textarea id="biografia" name="biografia"  minlength="20" placeholder="Biografia artista" rows="20" cols="50" required>{{biografia-value}}</textarea>
        {{biografia-message}}

        <label for="immagine">Immagine Artista</label>
        <input type="file" id="immagine" name="immagine" value="{{immagine-value}}" accept="image/png, image/jpeg">
        {{immagine-message}}

    </fieldset>
    <input type="submit" name="create" value="Aggiungi">
</form>
