<nav>
    <form action="catalogo.php" method="get">
        <fieldset>
            <legend>Cerca</legend>
            <label for="searched">Cerca:</label>
            <input type="search" name="searched" id="searched" aria-label="Ricerca il nome di un artista, album o canzone." placeholder="Cerca qui" value="{{searched}}">
            <input type="submit" value="Cerca">
        </fieldset>
    </form>
</nav>
<section id="artisti">
    <h1>Artisti</h1>
    <ul>
        {{lista-artisti}}
    </ul>
</section>
<section id="album">
    <h1>Album</h1>
    <ul>
        {{lista-album}}
    </ul>
</section>
<section id="canzoni">
    <h1>Canzoni</h1>
    <ul>
        {{lista-canzoni}}
    </ul>
</section>
