<h1>Chi Siamo</h1>
<dl id="componenti">
    <dt>Alex</dt>
    <dd>
        <img src="../assets/images/person_placeholder.jpeg" alt="">
        <dl class="componente">
            <dt>Storia</dt>
            <dd>Breve storia di Alex...</dd>
        </dl>
    </dd>
    <dt>Matteo</dt>
    <dd>
        <img src="../assets/images/person_placeholder.jpeg" alt="">
        <dl class="componente">
            <dt>Storia</dt>
            <dd>Breve storia di Matteo...</dd>
        </dl>
    </dd>
    <dt>Pedro</dt>
    <dd>
        <img src="../assets/images/person_placeholder.jpeg" alt="">
        <dl class="componente">
            <dt>Storia</dt>
            <dd>Breve storia di Pedro...</dd>
        </dl>
    </dd>
    <dt>Riccardo</dt>
    <dd>
        <img src="../assets/images/person_placeholder.jpeg" alt="">
        <dl class="componente">
            <dt>Storia</dt>
            <dd>Breve storia di Riccardo...</dd>
        </dl>
    </dd>
</dl>
<section id="vision">
</section>
<section id="mission">

</section>