<section id="spiegazione-servizio"> 
    <h1>Orchestra</h1>
    <p>
        Orchestra è un <strong><span lang="en">player</span> musicale online</strong> attraverso cui è possibile ascoltare ed approfondire tutta la <strong>musica classica</strong> dal <time datetime="1800">1800</time> fino ad oggi.
    </p>
</section>
<section id="perche-noi">
    <h2>Perchè scegliere Orchestra?</h2>
    <div id="pricing">
        <h3>Non spendi niente</h3>
        <p>
            Orchestra è un servizio interamente <strong>gratuito</strong>.
        </p>
    </div>
    <div id="impara">
        <h3>Conosci la musica classica</h3>
        <p>
            Usando questo <span lang="en">player</span> potrai arricchire la tua conoscienza sulla <strong>storia della musica classica</strong> conosciendo la storia degli artisti e dei brani da loro composti.
        </p>
    </div>
    <div id="artisti">
        <h3>I contenuti non mancano</h3>
        <p> 
            Orchestra al momento ti permette di scegliere tra un catalogo di {{artist_count}} artisti, {{album_count}} album e {{song_count}} brani.
        </p>
    </div>
    <div id="funzionalita">
        <h3>Esperienza personalizzata</h3>
        <p>
            Memorizza i tuoi brani preferiti all'interno di <span lang="en">playlist</span> di modo da raggiungerli con un paio di <span lang="en">click</span>.
        </p>
    </div>
</section>
<section id="ultimi-brani">
    <h2>Ultime uscite</h2>
    {{songs}}
</section>