<main>
  {{errori}}
  <form action="accedi.php" method="post">
    <fieldset>
      <legend>Registrazione</legend>
      <label for="name">Nome Utente</label>
      <input tabindex="1" id="name" name="nome" type="text" placeholder="Digita il tuo nome utente"
        value="{{nome}}">

      <label for="password" lang="en">Password</label>
      <input tabindex="2" id="password" name="password" required type="password" placeholder="Digita la tua password"
        autocomplete="new-password">
      <button tabindex="3" type="submit" name="create" value="true">Registrati</button>
    </fieldset>
  </form>
  <a tabindex="4" href="{{urlsigninup}}">{{innerhtmlsigninup}}</a>
</main>
