<main>
  {{errori}}
  <form action="/handlers/registrati.php" method="post">
    <label for="username">Nome Utente</label>
    <input id="username" name="username" type="text" placeholder="Digita il tuo nome utente">

    <label for="mail" lang="en">Email</label>
    <input id="mail" name="mail" required type="email" placeholder="Digita la tua mail" autocomplete="email">

    <label for="password" lang="en">Password</label>
    <input id="password" name="password" required type="password" placeholder="Digita la tua password"
      autocomplete="new-password">
    <input type="submit" value="Registrati">
  </form>
  <a href="/accedi.php">Hai già un profilo ? Clicca per accedere</a>
</main>
