<h2>Modifica Canzone</h2>
<h3>Inserimento Dati Canzone</h3>
<form enctype="multipart/form-data" action="/Pages/addSong.php" method="post">
    <label for="artist">Artista</label><br />
    <select name="artist_id" id="artist">
        {{current-artist}} {{artists}}
    </select>
    {{artist_name-message}}
    <input
            id="song_id"
            name="song_id"
            type="text"
            value="{{song-id-value}}"
            hidden
    /><br />
    <label for="title">Titolo</label><br />
    <input
        id="title"
        name="title"
        type="text"
        value="{{title-value}}"
        required
    /><br />
    {{title-message}}
    <audio controls>
        <source
                src='assets/songAudios/{{current_audio_file}}'
                type="audio/mpeg"
        />
        Attenzione: il tuo browser non supporta i tag audio (la preghiamo di
        cambiare browser).
    </audio>
    <label for="audio_file"><span lang="en">File</span> Audio</label><br />
    <input
        id="audio_file"
        name="audio_file"
        type="file"
        placeholder="File audio della canzone"
        value="{{audio_file-value}}"
    /><br />
    {{audio_file-message}}
    <img
            src='assets/songPhotos/{{current_graphic_file}}'
            alt='Copertina della canzone {{title-value2}}'
    />
    <label for="graphic_file">Immagine Copertina</label><br />
    <input
        id="graphic_file"
        name="graphic_file"
        type="file"
        placeholder="Immagine di copertina della canzone"
        value="{{graphic_file-value}}"
    /><br />
    {{graphic_file-message}}
    <input type="submit" name="update" value="Modifica Canzone" />
</form>
<a href="/Pages/catalogo.php">Torna al catalogo</a>
